.pagina-ex12 {
    .exercicio {
        display: flex;
        align-items: flex-start;

        .section {
            display: flex;
            flex-direction: row;
            width: 100%;

            .formulario {

                .campos {
                    .entradas {
                        display: flex;
                        flex-direction: column;
                        margin: 0px;

                        .campo {
                            .radios input[type="radio"] {
                                width: 15px;
                                margin-right: 10px;
                            }

                            .radios label {
                                margin-right: 15px;
                                font-size: 16px;
                                color: #333;
                            }
                        }

                    }
                }

                .resultado {
                    align-self: flex-start;
                }
            }

            .registros {
                display: flex;
                flex-direction: column;

                width: 100%;
                margin-top: 25px;
                margin-left: 50px;

                .faixa {
                    margin-top: 20px;
                    height: 4px;
                }

                .cards {
                    display: flex;
                    gap: 20px;

                    justify-content: space-around;

                    flex-wrap: wrap;

                    margin-top: 20px;

                    .card {
                        display: flex;
                        flex-direction: column;
                        

                        width: 250px;

                        text-align: center;
                        border-radius: 0px 0px 12px 12px;


                        background-color: #FFF;

                        .infos{
                            padding: 25px 0px 15px 0px;
                            color: #383131;

                            .geral{
                                margin-bottom: 30px;
                                font-weight: 700;
                            }

                            .genero{
                                font-weight: 400;
                            }
                        }

                        .editar-apagar{
                            display: flex;
                            flex-direction: row;
                        }

                        .editar-apagar button {
                            color: white;
                            font-size: 16px;
                            font-weight: 700;

                            text-decoration: none;

                            width: 50%;
                            padding: 15px 20px;

                            background-color: #6278F7;
                        }

                        .editar {
                            border-radius: 0px 0px 0px 12px;
                            border-width: 0px 2px 0px 0px;
                            border-style: solid;
                            border-color: #3e4c9b;

                        }

                        .apagar {
                            border-radius: 0px 0px 12px 0px;

                            border-width: 0px 0px 0px 2px;
                            border-style: solid;
                            border-color: #3e4c9b;
                        }
                    }
                }
            }
        }
    }
}