.pagina-ex10 {
    font-family: 'Roboto', 'Arial';

    .exercicio {
        display: flex;
        align-items: flex-start;

        .formulario {
            display: flex;
            flex-direction: row;
            width: 100%;
            align-items: flex-start;

            .campos{
                width: 700px;
            }
            
            .resultado {
                width: 100%;
                align-self: flex-start;
                margin: 0px;

                .item {
                    display: flex;
                    gap: 10px;

                    margin-left: 20px;
                    margin-bottom: 20px;
                    padding: 20px;

                    background-color: white;
                    border-radius: 12px;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                }
            }
        }
    }
}