.pagina-inicio {
    font-family: 'Roboto', 'Arial';


    header{
        padding: 50px 0px 0px 80px;

        .titulo {
            font-size: 16px;
            font-weight: bold;
            margin-top: 10px;
            color: #383131;
        }
    }
    
    .menu {
        padding: 0px 80px;
        
        .cards {
            display: flex;
            flex-wrap: wrap;

            gap: 30px;
            margin-top: 36px;
            

            .link {
                text-decoration: none;
            }

            .card {
                width: 240px;
                height: 160px;
                border-radius: 12px;

                text-align: center;
                align-content: center;
                background-color: white;
                text-decoration: none;

                .retangulo {
                    margin-left: 50%;
                    transform: translateX(-50%);
                    height: 60px;
                    width: 60px;
                    border-radius: 12px;
                }

                .titulo {
                    font-size: 16px;
                    font-weight: bold;
                    margin-top: 10px;
                    color: #383131;
                }

                .subtitulo {
                    font-size: 16px;
                    font-weight: lighter;
                    margin-top: 10px;
                    color: #383131;
                }
            }
        }
    }
}
